.newsForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & input,{
        width: 200px;
        margin-bottom: 10px;
        outline: none;
    }
    & textarea {
        outline: none;
        width: 500px;
        height: 200px;
        resize: none;
        margin-bottom: 10px;
    }
    & textarea, & input {
        padding: 5px ;
    }
}