.ProductPage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .filterBox{

    }
}