.beer{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 10px 10px 70px 10px;
    width: 24%;
    margin-bottom: 10px;
    position: relative;
    .beerBtn{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .beerImage{
        text-align: center;
        & img{
            width: 50px;
            height: 130px;
        }
    }
}