.app {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    &.container {
        width: 1140px;
        margin: 0 auto;

        @media (max-width: 450px) {
            padding: 0 20px;
        }

        @media (max-width: 576px) {
            max-width: 540px;
            padding: 0 20px;
        }

        @media (max-width: 768px) {
            max-width: 720px;
            padding: 0 20px;
        }

        @media (max-width: 992px) {
            max-width: 960px;
            padding: 0 10px;
        }

        .header {
            grid-area: header;
            background: rgb(20, 65, 190);
        }
        .content {
            grid-area: content;
            background: #fff;
        }
        .footer {
            grid-area: footer;
            background: rgba(20, 17, 168, 0.329);
        }
        .header,
        .content,
        .footer {
            padding: 20px;
        }
    }
}
